

<header class="nav">
  <div class="nav-inner">
    <div class="brand">
      <a routerLink="/">CourseManager</a>
      <small>Academic Course Management</small>
    </div>

    <div class="links">
      <a routerLink="/" class="btn">Home</a>

      <ng-container *ngIf="!auth.isLoggedIn()">
        <a routerLink="/login" class="btn">Login</a>
        <a routerLink="/register" class="btn primary">Register</a>
      </ng-container>

      <ng-container *ngIf="auth.isLoggedIn()">
        <a routerLink="/courses" class="btn">Courses</a>
        <a routerLink="/teachers" class="btn">Teachers</a>
        <a routerLink="/students" class="btn">Students</a>
        <button class="btn" (click)="logout()">Logout</button>
      </ng-container>
    </div>
  </div>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>
