<header id="topbar" class="cm-topbar">

  <div class="cm-topbar-inner">

    <a routerLink="/" class="cm-brand">
      <span class="cm-mark">CM</span>
      <span class="cm-brand-text">
        <strong>CourseManager</strong>
        <small>Academic Course Management</small>
      </span>
    </a>

   <!-- Navigation Links -->
    <nav class="cm-links center">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>

      <ng-container *ngIf="!auth.isLoggedIn()">
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
      </ng-container>

      <ng-container *ngIf="auth.isLoggedIn()">
        <a routerLink="/courses" routerLinkActive="active">Courses</a>
        <a routerLink="/teachers" routerLinkActive="active">Teachers</a>
        <a routerLink="/students" routerLinkActive="active">Students</a>
        <button class="nav-btn" type="button" (click)="logout()">Logout</button>
      </ng-container>
    </nav>

  </div>
</header>

<main class="cm-container">
  <router-outlet></router-outlet>
</main>
